<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

	<title>RAINBOW STUFF</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:400,600" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../style.css">

</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col s1 nav">
				<a href="/"><img id="rainbow" class="nav-item" src="../rainbow.png"></a>
				<form class="nav-item" action="/scrape" method="get">
					<a href="/scrape" id="scrape">SCRAPE</a>
				</form>
				<a class="nav-item" href="/favorites"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a>

			</div>
			<div class="col s10 offset-s1">
  				{{{ body }}}
  			</div>
  		</div>
  	</div>

   	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
   	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<script src="../app.js"></script>
</body>
</html>