	<div class="container">
    <div class="row">
      <div class="col s6">
        <div class="content-heading">
	        <h1 class=" center-align cyan-text text-lighten-1">Top Rated Glitter Rainbow Items</h1>
        </div>
        <div class="cyan lighten-1 article-div scroll" id="items">
          <ul>
            {{#each item}}
            <li>
              <a data-id="{{this._id}}"" href="{{this.link}}" target="_blank">
                  <h2>
                    {{this.title}}
                	</h2>
              </a>
            </li>
        		{{/each}}
      		</ul>
        </div>
      </div>
    </div>
  </div>